.profile {
  background-color: black;
  line-height: 140%;
  color: white;
   }

body {
  text-align: center;
  font-size: 2rem;
  font-family: 'Lexend Zetta';
}

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  float: right;
  padding: 4px;
  background-color: #666;
  filter: blur(50%);
  transition: all 0.5s ease-in-out;
}
img:hover {
  filter: blur(20%);
}

.text {
  font-size: 20rem;
  text-align: left;
  line-height: 100%;
  }

ul {
  list-style-type: none;
}

li {
  display: inline;
}